*{
    background-color:;
    color: ;
    font-size: ;

    margin: ;
    border: ;
    padding: ;
    
    width: ;
    height: ;
}

body {
}

header {
    background-color: black;
    color: white;

    text-align: center;
    font-size: ;

    margin: 1%;
    border: 1%;
    padding: 1%;
}

nav {
    background-color: ;
    color: ;

    text-align: center;
    font-size: 25px;

    margin: 1%;
    border: 1%;
    padding: 1%;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

#Seccion1 {
    background-color: aqua;
    color: ;

    text-align: center;
    font-size: ;

    margin: 1%;
    border: 1%;
    padding: 1%;
}

#Seccion2 {
    background-color: aquamarine;
    color: ;

    text-align: center;
    font-size: ;

    margin: 1%;
    border: 1%;
    padding: 1%;
}

#Seccion3 {
    background-color: blanchedalmond;
    color: ;

    text-align: center;
    font-size: ;

    margin: 1%;
    border: 1%;
    padding: 1%;
}

#Seccion4 {
    background-color: blueviolet;
    color: ;

    text-align: center;
    font-size: ;

    margin: 1%;
    border: 1%;
    padding: 1%;
}

#Seccion5 {
    background-color: brown;
    color: ;

    text-align: center;
    font-size: ;

    margin: 1%;
    border: 1%;
    padding: 1%;
}

#Seccion6 {
    background-color: burlywood;
    color: ;

    text-align: center;
    font-size: ;

    margin: 1%;
    border: 1%;
    padding: 1%;
}

#Seccion7 {
    background-color: cadetblue;
    color: ;

    text-align: center;
    font-size: ;

    margin: 1%;
    border: 1%;
    padding: 1%;
}

#Seccion8 {
    background-color: chartreuse;
    color: ;

    text-align: center;
    font-size: ;

    margin: 1%;
    border: 1%;
    padding: 1%;
}

#Seccion9 {
    background-color: chocolate;
    color: ;

    text-align: center;
    font-size: ;

    margin: 1%;
    border: 1%;
    padding: 1%;
}

footer {
    background-color: black;
    color: white;

    text-align: center;
    font-size: ;

    margin: 1%;
    border: 1%;
    padding: 1%;
}